---
import { Button, Spoiler } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
---

<PageLayout title='关于' info='/about'>
  <p>程序员、开发者、设计师</p>
  <p>喜欢编写能看得见效果的代码🧡</p>
  <p>我的格言: 踏踏实实做事，潇潇洒洒做人。<Spoiler>做人呢，最重要的就是开心</Spoiler></p>

  <h3>爱好</h3>
  <ul>
    <li>到处乱走乱看。</li>
    <li>看书思考写作。</li>
    <li>写代码，研究深层机制。</li>
    <li>设计开发视觉界面，给数据加好看的壳。</li>
  </ul>
</PageLayout>
